Repository prgrms-be-devcourse/BE-02-MarBox, pull requests merged in 2022-06, with the labels that each got.

#17 [#16] 로그인 관련 의존성 추가
  build.gradle
Labels: Team-Marco, config

#21 chore(build.gradle): lang3 라이브러리 추가
  build.gradle
Labels: config, hotfix

#22 [#18] .gitignore에 db/ 추가
  .gitignore
  db/testdb.mv.db
Labels: Team-Marco, config, hotfix

#29 [#9] 사용자는 회원가입할 수 있다.
  src/main/java/prgrms/marco/be02marbox/config/WebSecurityConfigure.java
  src/main/java/prgrms/marco/be02marbox/domain/user/Role.java
  src/main/java/prgrms/marco/be02marbox/domain/user/User.java
  src/main/java/prgrms/marco/be02marbox/domain/user/controller/UserController.java
  src/main/java/prgrms/marco/be02marbox/domain/user/dto/UserSignUpReq.java
  src/main/java/prgrms/marco/be02marbox/domain/user/dto/UserSignUpRes.java
  src/main/java/prgrms/marco/be02marbox/domain/user/exception/DuplicateEmailException.java
  src/main/java/prgrms/marco/be02marbox/domain/user/exception/DuplicateNameException.java
  src/main/java/prgrms/marco/be02marbox/domain/user/exception/Message.java
  src/main/java/prgrms/marco/be02marbox/domain/user/exception/UserException.java
  src/main/java/prgrms/marco/be02marbox/domain/user/exhandler/ExceptionController.java
  src/main/java/prgrms/marco/be02marbox/domain/user/repository/UserRepository.java
  src/main/java/prgrms/marco/be02marbox/domain/user/service/UserService.java
  src/test/java/prgrms/marco/be02marbox/domain/user/UserIntegrationTest.java
  src/test/java/prgrms/marco/be02marbox/domain/user/controller/UserControllerTest.java
  src/test/java/prgrms/marco/be02marbox/domain/user/dto/UserSignUpReqTest.java
  src/test/java/prgrms/marco/be02marbox/domain/user/service/UserServiceTest.java
Labels: Team-Marco, user

#27 [#7] 관리자는 영화를 추가할 수 있다
  src/main/java/prgrms/marco/be02marbox/domain/movie/Movie.java
  src/main/java/prgrms/marco/be02marbox/domain/movie/controller/api/MovieRestController.java
  src/main/java/prgrms/marco/be02marbox/domain/movie/dto/CreateMovie.java
  src/main/java/prgrms/marco/be02marbox/domain/movie/service/MovieService.java
  src/main/java/prgrms/marco/be02marbox/domain/movie/service/utils/MovieDtoConverter.java
  src/test/java/prgrms/marco/be02marbox/domain/movie/repository/MovieRepositoryTest.java
  src/test/java/prgrms/marco/be02marbox/domain/movie/service/MovieServiceTest.java
Labels: movie

#31 [#30] MovieConverter 네이밍 컨벤션 맞추기
  src/main/java/prgrms/marco/be02marbox/domain/movie/dto/RequestCreateMovie.java
  src/main/java/prgrms/marco/be02marbox/domain/movie/service/MovieService.java
  src/main/java/prgrms/marco/be02marbox/domain/movie/service/utils/MovieConverter.java
  src/main/java/prgrms/marco/be02marbox/domain/movie/service/utils/MovieDtoConverter.java
  src/test/java/prgrms/marco/be02marbox/domain/movie/service/MovieServiceTest.java
Labels: movie

#28 [#13] 관리자는 영화관을 추가할 수 있다
  build.gradle
  src/main/java/prgrms/marco/be02marbox/domain/theater/Theater.java
  src/main/java/prgrms/marco/be02marbox/domain/theater/dto/RequestCreateTheater.java
  src/main/java/prgrms/marco/be02marbox/domain/theater/service/TheaterService.java
  src/main/java/prgrms/marco/be02marbox/domain/theater/service/utils/TheaterConverter.java
  src/test/java/prgrms/marco/be02marbox/domain/theater/service/TheaterServiceTest.java
Labels: Team-Marco, theater

#33 [#32] Schedule 네이밍 컨벤션 맞추기
  src/main/java/prgrms/marco/be02marbox/domain/theater/dto/RequestCreateSchedule.java
  src/main/java/prgrms/marco/be02marbox/domain/theater/service/ScheduleService.java
  src/main/java/prgrms/marco/be02marbox/domain/theater/service/utils/ScheduleConverter.java
  src/test/java/prgrms/marco/be02marbox/domain/theater/service/ScheduleServiceMockTest.java
  src/test/java/prgrms/marco/be02marbox/domain/theater/service/ScheduleServiceTest.java
Labels: schedule

#40 [#39] PR template 변경
  .github/pull_request_template.md
Labels: Team-Marco, config

#38 [#14] 모든 상영관 정보를 조회할 수 있다.
  src/main/java/prgrms/marco/be02marbox/domain/theater/dto/ResponseFindTheater.java
  src/main/java/prgrms/marco/be02marbox/domain/theater/dto/ResponseFindTheaterRoom.java
  src/main/java/prgrms/marco/be02marbox/domain/theater/service/TheaterRoomService.java
  src/main/java/prgrms/marco/be02marbox/domain/theater/service/utils/TheaterConverter.java
  src/main/java/prgrms/marco/be02marbox/domain/theater/service/utils/TheaterRoomConverter.java
  src/test/java/prgrms/marco/be02marbox/domain/theater/service/TheaterRoomServiceTest.java
Labels: Team-Marco, theater, theater_room

#48 [#46] 예외 Api 용도 Dto 네이밍 변경하기
  src/main/java/prgrms/marco/be02marbox/domain/exception/dto/ResponseApiError.java
Labels: hotfix

#43 [#5] 고객은 로그인 할 수 있다.
  build.gradle
  src/main/java/prgrms/marco/be02marbox/MarBoxApplication.java
  src/main/java/prgrms/marco/be02marbox/config/JwtConfigure.java
  src/main/java/prgrms/marco/be02marbox/config/WebSecurityConfigure.java
  src/main/java/prgrms/marco/be02marbox/domain/user/User.java
  src/main/java/prgrms/marco/be02marbox/domain/user/controller/UserController.java
  src/main/java/prgrms/marco/be02marbox/domain/user/dto/RequestSignInUser.java
  src/main/java/prgrms/marco/be02marbox/domain/user/dto/ResponseLoginUser.java
  src/main/java/prgrms/marco/be02marbox/domain/user/exception/InvalidEmailException.java
  src/main/java/prgrms/marco/be02marbox/domain/user/exception/Message.java
  src/main/java/prgrms/marco/be02marbox/domain/user/exhandler/ExceptionController.java
  src/main/java/prgrms/marco/be02marbox/domain/user/jwt/Jwt.java
  src/main/java/prgrms/marco/be02marbox/domain/user/jwt/JwtAuthentication.java
  src/main/java/prgrms/marco/be02marbox/domain/user/jwt/JwtAuthenticationProvider.java
  src/main/java/prgrms/marco/be02marbox/domain/user/jwt/JwtAuthenticationToken.java
  src/main/java/prgrms/marco/be02marbox/domain/user/service/UserService.java
  src/main/resources/application.yml
  src/test/java/prgrms/marco/be02marbox/config/JwtConfigureTest.java
  src/test/java/prgrms/marco/be02marbox/domain/user/UserIntegrationTest.java
  src/test/java/prgrms/marco/be02marbox/domain/user/controller/UserControllerTest.java
  src/test/java/prgrms/marco/be02marbox/domain/user/dto/RequestSignInUserTest.java
  src/test/java/prgrms/marco/be02marbox/domain/user/jwt/JwtAuthenticationProviderTest.java
  src/test/java/prgrms/marco/be02marbox/domain/user/jwt/JwtTest.java
  src/test/java/prgrms/marco/be02marbox/domain/user/service/UserServiceTest.java
  src/test/resources/jwt-config.properties
Labels: Team-Marco, user

#56 [#8] 관리자는 영화정보 관리를 위해 영화 목록을 조회할 수 있다
  src/main/java/prgrms/marco/be02marbox/domain/movie/controller/api/MovieRestController.java
  src/main/java/prgrms/marco/be02marbox/domain/movie/dto/ResponseGetMovies.java
  src/main/java/prgrms/marco/be02marbox/domain/movie/service/MovieService.java
  src/test/java/prgrms/marco/be02marbox/domain/movie/controller/api/MovieRestControllerTest.java
  src/test/java/prgrms/marco/be02marbox/domain/movie/service/MovieServiceTest.java
Labels: Team-Marco, movie

#53 [#37] 관리자는 영화관을 조회할 수 있다.
  src/main/java/prgrms/marco/be02marbox/domain/theater/Region.java
  src/main/java/prgrms/marco/be02marbox/domain/theater/dto/RequestCreateTheater.java
  src/main/java/prgrms/marco/be02marbox/domain/theater/service/TheaterService.java
  src/test/java/prgrms/marco/be02marbox/domain/theater/service/TheaterServiceTest.java
Labels: Team-Marco, theater

#57 [#50] Schedule 도메인 컨트롤러 추가
  src/docs/asciidoc/schedule.adoc
  src/main/java/prgrms/marco/be02marbox/domain/exception/handler/ScheduleExceptionHandler.java
  src/main/java/prgrms/marco/be02marbox/domain/theater/controller/ScheduleController.java
  src/test/java/prgrms/marco/be02marbox/domain/theater/controller/ScheduleControllerTest.java
Labels: Team-Marco, schedule

#55 [#54] 관리자에게 상영관 추가 API를 제공한다.
  src/main/asciidoc/index.adoc
  src/main/java/prgrms/marco/be02marbox/domain/exception/custom/BadRequestTheater.java
  src/main/java/prgrms/marco/be02marbox/domain/exception/handler/TheaterRoomExceptionHandler.java
  src/main/java/prgrms/marco/be02marbox/domain/theater/controller/TheaterRoomController.java
  src/main/java/prgrms/marco/be02marbox/domain/theater/service/TheaterRoomService.java
  src/test/java/prgrms/marco/be02marbox/domain/theater/controller/TheaterRoomControllerTest.java
  src/test/java/prgrms/marco/be02marbox/domain/theater/dto/document/RequestCreateSeatDoc.java
  src/test/java/prgrms/marco/be02marbox/domain/theater/dto/document/RequestCreateTheaterRoomDoc.java
  src/test/java/prgrms/marco/be02marbox/domain/theater/service/TheaterRoomServiceTest.java
Labels: Team-Marco, theater, theater_room

#59 [#58] 관리자, 고객은 지역별로 영화관을 조회할 수 있다.
  src/main/java/prgrms/marco/be02marbox/domain/theater/Region.java
  src/main/java/prgrms/marco/be02marbox/domain/theater/repository/TheaterRepository.java
  src/main/java/prgrms/marco/be02marbox/domain/theater/service/TheaterService.java
  src/test/java/prgrms/marco/be02marbox/domain/theater/service/TheaterServiceTest.java
Labels: Team-Marco, theater

#64 [#61] docker 이용하는 github actions workflow 추가
  .github/workflows/marbox-ci.yml
  docker-compose.yml
Labels: Team-Marco, config

#63 [#52] 고객은 예매를 위해 영화 정보를 조회할 수 있다
  src/docs/asciidoc/schedule.adoc
  src/main/java/prgrms/marco/be02marbox/domain/movie/dto/ResponseFindCurrentMovie.java
  src/main/java/prgrms/marco/be02marbox/domain/movie/service/utils/MovieConverter.java
  src/main/java/prgrms/marco/be02marbox/domain/theater/Schedule.java
  src/main/java/prgrms/marco/be02marbox/domain/theater/controller/ScheduleController.java
  src/main/java/prgrms/marco/be02marbox/domain/theater/repository/ScheduleRepository.java
  src/main/java/prgrms/marco/be02marbox/domain/theater/service/ScheduleService.java
  src/test/java/prgrms/marco/be02marbox/domain/theater/controller/ScheduleControllerTest.java
  src/test/java/prgrms/marco/be02marbox/domain/theater/repository/ScheduleRepositoryTest.java
  src/test/java/prgrms/marco/be02marbox/domain/theater/service/ScheduleServiceTest.java
Labels: Team-Marco, schedule

#68 [#67] asciidoc, exception handler 컨벤션 적용
  src/docs/asciidoc/theater_room.adoc
  src/main/java/prgrms/marco/be02marbox/domain/exception/custom/BadRequestTheater.java
  src/main/java/prgrms/marco/be02marbox/domain/exception/custom/BadRequestTheaterException.java
  src/main/java/prgrms/marco/be02marbox/domain/exception/handler/TheaterExceptionHandler.java
  src/main/java/prgrms/marco/be02marbox/domain/exception/handler/TheaterRoomExceptionHandler.java
  src/main/java/prgrms/marco/be02marbox/domain/theater/service/TheaterRoomService.java
  src/test/java/prgrms/marco/be02marbox/domain/theater/controller/TheaterRoomControllerTest.java
  src/test/java/prgrms/marco/be02marbox/domain/theater/service/TheaterRoomServiceTest.java
Labels: Team-Marco, convention

#72 [#71] PR template 변경 - main으로 반영
  .github/pull_request_template.md
Labels: hotfix

#65 [#47] 프로파일 이용해 dev, test 환경 분리하기
  .github/workflows/gradle.yml
  build.gradle
  src/main/java/prgrms/marco/be02marbox/domain/theater/Seat.java
  src/main/resources/application-dev.yml
  src/main/resources/application-test.yml
  src/main/resources/application.yml
  src/test/java/prgrms/marco/be02marbox/domain/user/UserIntegrationTest.java
  src/test/resources/application-integration.yml
  src/test/resources/application.yml
Labels: Team-Marco, config

#74 [#71] PR template 변경 - develop에도 반영
  .github/pull_request_template.md
Labels: Team-Marco, hotfix

#62 [#60] TheaterController 작성
  src/main/java/prgrms/marco/be02marbox/domain/theater/Region.java
  src/main/java/prgrms/marco/be02marbox/domain/theater/controller/TheaterController.java
  src/main/java/prgrms/marco/be02marbox/domain/theater/service/TheaterService.java
  src/main/java/prgrms/marco/be02marbox/domain/theater/service/utils/TheaterConverter.java
  src/test/java/prgrms/marco/be02marbox/domain/theater/controller/TheaterControllerTest.java
  src/test/java/prgrms/marco/be02marbox/domain/theater/service/TheaterServiceTest.java
Labels: Team-Marco, theater

#79 [#78] Issue 템플릿 추가 - Refactor
  .github/ISSUE_TEMPLATE/refactor.md
Labels: hotfix

#80 [#78] Issue 템플릿 추가 - Refactor
  .github/ISSUE_TEMPLATE/refactor.md
Labels: hotfix

#84 [#73] Movie 리팩토링
  src/main/java/prgrms/marco/be02marbox/domain/movie/controller/api/MovieRestController.java
  src/main/java/prgrms/marco/be02marbox/domain/movie/service/MovieService.java
  src/test/java/prgrms/marco/be02marbox/domain/movie/controller/api/MovieRestControllerTest.java
Labels: Team-Marco, movie

#82 [#81] theater_room service 주석 추가
  src/main/java/prgrms/marco/be02marbox/domain/theater/service/TheaterRoomService.java
Labels: refactor

#89 [#85] MovieService 주석 추가
  src/main/java/prgrms/marco/be02marbox/domain/movie/service/MovieService.java
  src/main/java/prgrms/marco/be02marbox/domain/movie/service/utils/MovieConverter.java
Labels: Team-Marco, movie

#93 [#92] Theater Restdocs 추가
  src/docs/asciidoc/theater.adoc
  src/main/java/prgrms/marco/be02marbox/domain/theater/repository/TheaterRepository.java
  src/main/java/prgrms/marco/be02marbox/domain/theater/service/TheaterService.java
  src/test/java/prgrms/marco/be02marbox/domain/theater/controller/TheaterControllerTest.java
Labels: Team-Marco, theater

#77 [#44] 회원 가입 기능 수정
  src/docs/asciidoc/user.adoc
  src/main/java/prgrms/marco/be02marbox/config/WebSecurityConfigure.java
  src/main/java/prgrms/marco/be02marbox/domain/exception/custom/user/DuplicateNameException.java
  src/main/java/prgrms/marco/be02marbox/domain/user/User.java
  src/main/java/prgrms/marco/be02marbox/domain/user/controller/UserController.java
  src/main/java/prgrms/marco/be02marbox/domain/user/dto/ResponseSignUpUser.java
  src/main/java/prgrms/marco/be02marbox/domain/user/service/UserService.java
  src/test/java/prgrms/marco/be02marbox/domain/user/UserIntegrationTest.java
  src/test/java/prgrms/marco/be02marbox/domain/user/controller/UserControllerTest.java
  src/test/java/prgrms/marco/be02marbox/domain/user/service/UserServiceTest.java
Labels: Team-Marco, user

#96 [#95] 에러 메시지 공통화 처리
  src/main/java/prgrms/marco/be02marbox/domain/exception/custom/Message.java
  src/main/java/prgrms/marco/be02marbox/domain/theater/service/TheaterRoomService.java
  src/test/java/prgrms/marco/be02marbox/domain/theater/controller/TheaterRoomControllerTest.java
  src/test/java/prgrms/marco/be02marbox/domain/theater/dto/document/RequestCreateTheaterRoomDoc.java
Labels: Team-Marco, refactor

#97 [#10] 사용자는 역할에 따라, 사용할 수 있는 기능이 다르다.
  build.gradle
  src/main/java/prgrms/marco/be02marbox/config/WebSecurityConfigure.java
  src/main/java/prgrms/marco/be02marbox/domain/exception/custom/Message.java
  src/main/java/prgrms/marco/be02marbox/domain/user/jwt/CustomAccessDeniedHandler.java
  src/main/java/prgrms/marco/be02marbox/domain/user/jwt/JwtAuthenticationFilter.java
  src/test/java/prgrms/marco/be02marbox/domain/user/jwt/CustomAccessDeniedHandlerTest.java
  src/test/java/prgrms/marco/be02marbox/domain/user/jwt/JwtAuthenticationFilterTest.java
Labels: Team-Marco, user

#86 [#75] 사용자는 한 영화관에서 상영하는 영화 정보와 날짜를 확인한다.
  src/docs/asciidoc/schedule.adoc
  src/main/java/prgrms/marco/be02marbox/domain/theater/controller/ScheduleController.java
  src/main/java/prgrms/marco/be02marbox/domain/theater/dto/ResponseFindMovieListAndDateList.java
  src/main/java/prgrms/marco/be02marbox/domain/theater/repository/ScheduleRepository.java
  src/main/java/prgrms/marco/be02marbox/domain/theater/repository/TheaterRoomRepository.java
  src/main/java/prgrms/marco/be02marbox/domain/theater/service/ScheduleService.java
  src/main/java/prgrms/marco/be02marbox/domain/theater/service/utils/ScheduleConverter.java
  src/test/java/prgrms/marco/be02marbox/domain/theater/controller/ScheduleControllerTest.java
  src/test/java/prgrms/marco/be02marbox/domain/theater/repository/ScheduleRepositoryTest.java
  src/test/java/prgrms/marco/be02marbox/domain/theater/service/ScheduleServiceTest.java
Labels: Team-Marco, movie, theater, schedule, theater_room

#101 [#91] Movie 포스터 등록 기능 추가
  .gitignore
  src/main/java/prgrms/marco/be02marbox/domain/exception/handler/MovieExceptionHandler.java
  src/main/java/prgrms/marco/be02marbox/domain/movie/Movie.java
  src/main/java/prgrms/marco/be02marbox/domain/movie/controller/api/MovieRestController.java
  src/main/java/prgrms/marco/be02marbox/domain/movie/dto/RequestCreateMovie.java
  src/main/java/prgrms/marco/be02marbox/domain/movie/dto/ResponseCreateMovie.java
  src/main/java/prgrms/marco/be02marbox/domain/movie/service/MovieService.java
  src/main/java/prgrms/marco/be02marbox/domain/movie/service/utils/MovieConverter.java
  src/test/java/prgrms/marco/be02marbox/domain/movie/controller/api/MovieRestControllerTest.java
  src/test/java/prgrms/marco/be02marbox/domain/movie/repository/MovieRepositoryTest.java
  src/test/java/prgrms/marco/be02marbox/domain/movie/service/MovieServiceTest.java
  src/test/java/prgrms/marco/be02marbox/domain/reservation/repository/ReservedSeatRepositoryTest.java
  src/test/java/prgrms/marco/be02marbox/domain/theater/repository/ScheduleRepositoryTest.java
  src/test/java/prgrms/marco/be02marbox/domain/theater/service/ScheduleServiceMockTest.java
  src/test/java/prgrms/marco/be02marbox/domain/theater/service/ScheduleServiceTest.java
Labels: Team-Marco, movie

#109 [#94] ScheduleController 리팩터링
  src/main/java/prgrms/marco/be02marbox/domain/movie/dto/ResponseFindMovie.java
  src/main/java/prgrms/marco/be02marbox/domain/movie/service/utils/MovieConverter.java
  src/main/java/prgrms/marco/be02marbox/domain/theater/controller/ScheduleController.java
  src/main/java/prgrms/marco/be02marbox/domain/theater/dto/ResponseFindMovieListAndDateList.java
  src/main/java/prgrms/marco/be02marbox/domain/theater/dto/ResponseFindSchedule.java
  src/main/java/prgrms/marco/be02marbox/domain/theater/dto/ResponseFindTime.java
  src/main/java/prgrms/marco/be02marbox/domain/theater/service/ScheduleService.java
  src/main/java/prgrms/marco/be02marbox/domain/theater/service/utils/ScheduleConverter.java
  src/test/java/prgrms/marco/be02marbox/domain/theater/controller/ScheduleControllerTest.java
  src/test/java/prgrms/marco/be02marbox/domain/theater/service/ScheduleServiceTest.java
Labels: schedule, refactor

#108 [#106] 스케줄 별 예약좌석 정보 조회 API 개발
  src/docs/asciidoc/reserved_seat.adoc
  src/main/java/prgrms/marco/be02marbox/domain/reservation/ReservedSeat.java
  src/main/java/prgrms/marco/be02marbox/domain/reservation/controller/ReservedSeatController.java
  src/main/java/prgrms/marco/be02marbox/domain/reservation/repository/ReservedSeatRepository.java
  src/main/java/prgrms/marco/be02marbox/domain/reservation/service/ReservedSeatService.java
  src/main/java/prgrms/marco/be02marbox/domain/theater/Seat.java
  src/main/java/prgrms/marco/be02marbox/domain/theater/dto/RequestCreateSeat.java
  src/main/java/prgrms/marco/be02marbox/domain/theater/dto/ResponseFindSeat.java
  src/main/java/prgrms/marco/be02marbox/domain/theater/dto/ResponseFindTheaterRoom.java
  src/main/java/prgrms/marco/be02marbox/domain/theater/service/utils/SeatConverter.java
  src/test/java/prgrms/marco/be02marbox/domain/reservation/controller/ReservedSeatControllerTest.java
  src/test/java/prgrms/marco/be02marbox/domain/reservation/repository/RepositoryTestUtil.java
  src/test/java/prgrms/marco/be02marbox/domain/reservation/repository/ReservedSeatRepositoryTest.java
  src/test/java/prgrms/marco/be02marbox/domain/reservation/service/ReservedSeatServiceTest.java
  src/test/java/prgrms/marco/be02marbox/domain/theater/dto/document/ResponseCreateSeatDoc.java
Labels: Team-Marco, reserved_seat

#111 [#102] TicketService 조회 기능 작성
  src/main/java/prgrms/marco/be02marbox/domain/exception/custom/Message.java
  src/main/java/prgrms/marco/be02marbox/domain/movie/Movie.java
  src/main/java/prgrms/marco/be02marbox/domain/reservation/Ticket.java
  src/main/java/prgrms/marco/be02marbox/domain/reservation/dto/ResponseFindTicket.java
  src/main/java/prgrms/marco/be02marbox/domain/reservation/repository/TicketRepository.java
  src/main/java/prgrms/marco/be02marbox/domain/reservation/service/TicketService.java
  src/main/java/prgrms/marco/be02marbox/domain/reservation/service/utils/TicketConverter.java
  src/main/java/prgrms/marco/be02marbox/domain/theater/Schedule.java
  src/main/java/prgrms/marco/be02marbox/domain/theater/Seat.java
  src/main/java/prgrms/marco/be02marbox/domain/theater/Theater.java
  src/main/java/prgrms/marco/be02marbox/domain/theater/TheaterRoom.java
  src/main/java/prgrms/marco/be02marbox/domain/user/User.java
  src/test/java/prgrms/marco/be02marbox/domain/reservation/service/TicketServiceTest.java
Labels: reservation
